<div id="map" class="h-[37.5rem] w-full"></div>
<%# モーダルを表示する要素 %>
<dialog id="post_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div class="post_show mt-4"></div>
    </div>
</dialog>
<script>
    function initMap() {
    // デフォルトポジション（東京周辺）の定義
    const defaultlocation = { lat: 35.6803997, lng: 139.7690174 };

    // 地図要所の取得
    const mapElement = document.getElementById('map');

    // 初期表示の設定
    const mapOptions = {
        center: defaultlocation,
        zoom: 10,
    }

    const map = new google.maps.Map(mapElement, mapOptions);


    //投稿が存在するかで条件分岐
    <% if @posts.present? %>
    // 投稿一覧を地図上で表示
    <% @posts.each do |post| %>
      (() => {
        let marker = new google.maps.Marker({
            position: { lat: <%= post.latitude %>, lng: <%= post.longitude %> },
            map: map
        });

        marker.addListener('click', function() {
        const modalContent = `
        <div class='text-center mb-3'>
            <div><%= post.human_attribute_enum(:genre) %></div>
            <div class='text-lg font-semibold'><%= post.restaurant_name %></div>
            <p><%= post.address %></p>
            <div class="flex justify-center mt-3">
                <div class="badge badge-lg mr-1">タグ</div>
                <div class="badge badge-lg mr-1">タグ</div>
            </div>
        </div>
            <p>おすすめポイント<br><%= post.body %></p>
        <div class='text-center mt-3'>
            <%= link_to "詳細ページ", post_path(post), class: "btn btn-primary" %>
        </div>
        `;
        // post_showに取得したModalContentを代入してくれる
        document.querySelector('.post_show').innerHTML = modalContent;
        document.getElementById('post_modal').showModal();
        });
    })();
    <% end %>
    <% else %>
        console.log('投稿が存在しません');
    <% end %>
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>