<% content_for :title, page_title('お気に入り') %>
<div class='container px-5 py24 mx-auto'>
    <div class='text-center mt-4 font-bold text-3xl'>マイページ📓</div>
    <div class='text-center mt-6'>
        <div role="tablist" class="tabs tabs-boxed">
            <%= link_to "マイポスト", mypage_posts_path, role: "tab", class: "tab" %>
            <%= link_to "お気に入り", mypage_bookmark_posts_path, role: "tab", class: "tab tab-active" %>
            <%= link_to "プロフィール", mypage_profiles_path, role: "tab", class: "tab" %>
        </div>
    </div>
    <div class="flex flex-wrap m-4">
        <% if @posts.present? %>
            <%= render @posts %>
        <% else %>
            <div class= 'text-lg m-auto'>投稿はありません</div>
        <% end %>
    </div>
    <%= paginate @posts %>
</div>