<%= form_with model: post do |f| %>
<%= render 'shared/error_messages', model: f.object %>

    <%= f.label :genre, '料理のジャンル', class: 'label w-full md:w-1/2 mx-auto' %>
    <div class='mx-auto w-full md:w-1/2 text-center'>
        <%= f.select :genre, Post.enum_options_for_select(:genre), { include_blank: "未選択" },
                    class: 'bg-card-body bg-base-100 rounded-3xl border border-accent py-2 px-3 mb-6 w-full md:w-1/2 mx-auto' %>
    </div>

    <%= f.label :restaurant_name, class: 'label w-full md:w-1/2 mx-auto' %>
    <%= f.text_field :restaurant_name, class: 'input input-borderd input-accent form-control mb-6 w-full md:w-1/2 mx-auto', id:'autocomplete', placeholder: 'お店の名前を入力してください' %>

    <%= f.label :address, class: 'label w-full md:w-1/2 mx-auto' %>
    <%= f.text_field :address, class: 'input input-borderd input-accent form-control mb-6 w-full md:w-1/2 mx-auto', id: 'address' %>

    <%= f.label :body,  class: 'label w-full md:w-1/2 mx-auto' %>
    <%= f.text_area :body, class: 'input input-borderd input-accent form-control mb-6 w-full md:w-1/2 mx-auto h-auto', rows: 5, placeholder: '一人で行く時嬉しいサービス、メニューやお店のおすすめポイントを入力してください' %>

    <%= f.label :rating, class: 'label w-full md:w-1/2 mx-auto'  %>
    <div class="mx-auto w-full md:w-1/2 text-center">
      <div class="rating rating-lg">
        <%= f.radio_button :rating, :very_poor, class: 'mask mask-star-2 bg-orange-400' %>
        <%= f.radio_button :rating, :poor, class: 'mask mask-star-2 bg-orange-400' %>
        <%= f.radio_button :rating, :good, class: 'mask mask-star-2 bg-orange-400' %>
        <%= f.radio_button :rating, :better,class: 'mask mask-star-2 bg-orange-400' %>              
        <%= f.radio_button :rating, :excellent,class: 'mask mask-star-2 bg-orange-400' %>
      </div>
    </div>

    <%= f.label :tag_names,'タグ（5つまで）',class: 'label w-full md:w-1/2 mx-auto' %>
    <%= f.text_field :tag_names, class: 'input input-borderd input-accent form-control mb-6 w-full md:w-1/2 mx-auto', placeholder: ',で区切って入力してください' %>
    <div class="flex justify-center flex-wrap">
      <%= link_to '券売機', '#', class: 'tag-link badge badge-ghost badge-base mr-2 mt-2 mb-1' %>
      <%= link_to 'カウンター', '#', class: 'tag-link badge badge-ghost badge-base mr-2 mt-2 mb-1' %>
      <%= link_to 'スマホ注文', '#', class: 'tag-link badge badge-ghost badge-base mr-2 mt-2 mb-1' %>
      <%= link_to 'タブレット注文', '#', class: 'tag-link badge badge-ghost badge-base mr-2 mt-2 mb-1' %>
      <%= link_to '1人用メニュー', '#', class: 'tag-link badge badge-ghost badge-base mr-2 mt-2 mb-1' %>
      <%= link_to '静か', '#', class: 'tag-link badge badge-ghost badge-base mr-2 mt-2 mb-1' %>
      <%= link_to '広々', '#', class: 'tag-link badge badge-ghost badge-base mr-2 mt-2 mb-1' %>
    </div>

    <div>
      <%= f.label :post_images, class: 'label w-full md:w-1/2 mx-auto'%>
      <%= f.file_field :post_images, multiple: true, id: 'images-input', include_hidden: false, class: 'file-input file-input-bordered file-input-accent form-control w-full md:w-1/2 mx-auto'%>
    </div>

    <div id="preview-images" class="flex flex-wrap justify-center"></div>

    <%= f.label :amount, class: 'label w-full md:w-1/2 mx-auto' %>
    <div class='mx-auto w-full md:w-1/2 text-center'>
        <%= f.select :amount, Post.enum_options_for_select(:amount), { include_blank: "未選択" },
                    class: 'bg-card-body bg-base-100 rounded-3xl border border-accent py-2 px-3 mb-6 w-full md:w-1/2 mx-auto' %>
    </div>

    <div class='mx-auto md:w-1/2'>
        <%= f.submit '投稿', class: 'btn btn-primary w-full my-6', id: "submit-button"%>
    </div>
    <div id="loading-modal" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
      <%= render 'shared/modal'%>
    </div>
<% end %>
<div class='text-center mb-6'>
    <%= link_to'投稿一覧ページへ', posts_path %>
</div>
<script>
  let autocomplete;
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'),
      {
        types: ['establishment'],
        componentRestrictions: {'country': 'jp'},
        fields: ['place_id', 'geometry', 'name', 'formatted_address']
      });
    autocomplete.addListener('place_changed', onPlaceChanged);
  }

  function onPlaceChanged() {
    var place = autocomplete.getPlace();

    if (!place.geometry) {
      // ユーザーが予測を選択しなかった際に入力欄をからにするための分岐
      document.getElementById('autocomplete').placeholder = '入力してください';
    } else {
      // ユーザーが予測を選択した場合にフォームフィールドに追加
      document.getElementById('autocomplete').value = place.name;
      document.getElementById('address').value = place.formatted_address;
    }
  }
</script>

<script async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initAutocomplete"></script>