<%= form_with model: search_form, url: search_posts_path, scope: :q, method: :get, class: 'flex flex-wrap items-center', id: 'search_form' do |f| %>
  <div class="w-full md:w-1/2 px-2 flex items-center">
    <%= f.search_field :address_or_name, 
        id: 'search_field_of_address_or_name',    
        class: 'input input-bordered input-accent form-control mb-6 w-full h-12',
        placeholder: '店名・エリア' %>
  </div>
  
  <div class="w-full md:w-1/2 px-2 flex items-center">
    <%= f.select :genre_select, Post.enum_options_for_select(:genre), { include_blank: "ジャンル未選択" },
        id: 'search_field_of_genre',
        class: 'bg-card-body bg-base-100 rounded-3xl border border-accent py-2 px-3 mb-6 w-full h-12' %>
  </div>

  <%= f.hidden_field :map_center_lat, id: 'map_center_lat' %>
  <%= f.hidden_field :map_center_lng, id: 'map_center_lng' %>

  <div class="w-full flex justify-between px-2">
    <%= f.submit '検索', class: 'btn btn-primary flex-auto mr-2 mb-4' %>
    <button type="button" id="form-reset-button" class="btn w-auto font-light mb-4">クリア</button>
  </div>
<% end %>

<script>
document.getElementById("form-reset-button").addEventListener("click", function() {
    // フィールドの値を空にする
    const searchField = document.getElementById("search_field_of_address_or_name");
    searchField.value = '';

    const genreSelect = document.getElementById("search_field_of_genre");
    genreSelect.selectedIndex = 0; 
    
});
</script>