<div class='container rounded-xl shadow-xl p-6 max-w-xs md:max-w-3xl mx-auto my-10 border border-white bg-base-100'>
    <div class='ml-6 mt-6'>
        <%= link_to '＜戻る', posts_path  %>
    </div>
    <div class='md:w-1/2 mx-auto'>
        <div class='text-center mt-6'>
            <h2 class='text-base mb-2 font-medium'>
                <%= @post.human_attribute_enum(:genre) %>
            </h2>
            <h1 class='text-2xl font-bold mb-6'>
                <%= @post.restaurant_name %>
            </h1>
        </div>
        <div class="flex justify-center flex-wrap">
            <%= render @post.tags %>
        </div>
        <p class='w-full mx-auto p-5'>
            所在地：
            <br><%= @post.address %></br>
        </p>
        <p class='w-full mx-auto p-5'>
            おすすめポイント：
            <br><%= @post.body %></br>
        </p>
        <p class='w-full mx-auto p-5'>
            おひとり様おすすめ度：
        </p>
        <div class="flex justify-center flex-wrap">
            <%= @post.decorate.star_rating %>
        </div>
        <% if @post.amount %>
            <p class='w-full mx-auto p-5'>
                使用した金額：<%= @post.human_attribute_enum(:amount) %>
            </p>
        <% else %>
        <% end %>
        <div class="my-7">
            <div class="flex justify-center">
                <% if @post.post_images.present? %>
                <div class="carousel">
                    <div id="slide1" class="carousel-item relative w-full justify-center items-center">
                    <%= image_tag @post.post_images.first.to_s, width: 500 %>
                    <% if @post.post_images.second.present? %>
                        <div class="absolute flex justify-end transform -translate-y-1/2 right-2.5 top-1/2">
                        <a href="#slide2" class="btn btn-circle glass btn-sm">❯</a>
                        </div>
                    <% end %>
                    </div>
                    <% if @post.post_images.second.present? %>
                    <div id="slide2" class="carousel-item relative w-full justify-center items-center">
                        <%= image_tag @post.post_images.second.to_s, width: 500 %>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-2.5 right-2.5 top-1/2">
                        <a href="#slide1" class="btn btn-circle glass btn-sm">❮</a>
                        <% if @post.post_images.third.present? %>
                            <a href="#slide3" class="btn btn-circle glass btn-sm">❯</a>
                        <% end %>
                        </div>
                    </div>
                    <% end %>
                    <% if @post.post_images.third.present? %>
                    <div id="slide3" class="carousel-item relative w-full justify-center items-center">
                        <%= image_tag @post.post_images.third.to_s, width: 500 %>
                        <div class="absolute flex justify-start transform -translate-y-1/2 left-2.5 top-1/2">
                        <a href="#slide2" class="btn btn-circle glass btn-sm">❮</a>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <%# ユーザー削除機能を実装したら分岐を設定 %>
    <div class='grid grid-cols-3 md:grid-cols-8'>  
        <div class='col-start-1 flex items-center ml-5 md:col-start-2'><%= @post.user.name %></div>
            <% if logged_in? %>
                <% if current_user.own?(@post)%>
                    <div class='ml-6 md:col-start-6'><%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %></div>
                    <div class='ml-5 md:col-start-7'><%= link_to '削除', post_path(@post),data: {turbo_method: :delete, turbo_confirm: '投稿を削除しますか？'}, class: "btn btn-secondary" %></div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>