<div class='container'>
    <div class= 'text-center mt-6'>
        <h1 class='text-2xl font-semibold font-lilita'>ログイン</h1>
    </div>

    <%= form_with url: login_path do |f| %>

        <%= f.label :email, class: 'label w-full md:w-1/2 mx-auto' %>
        <%= f.email_field :email, class: 'input input-borderd input-accent form-control mb-6 w-full md:w-1/2 mx-auto' %>

        <%= f.label :password,  class: 'label w-full md:w-1/2 mx-auto' %>
        <%= f.password_field :password, class: 'input input-borderd input-accent form-control mb-6 w-full md:w-1/2 mx-auto' %>

        <div class='mx-auto md:w-1/2'>
            <%= f.submit 'ログイン', class: 'btn btn-primary w-full mt-6 mb-6' %>
        </div>
    <% end %>
    <div class='text-center mb-6'>
        <%= link_to auth_at_provider_path(provider: :google) do %>
            <%= image_tag "web_neutral_rd_SU@1x.png", class: 'mx-auto'%>
        <% end%>
    </div>
    <div class='text-center mb-6'>
        <%= link_to '登録ページへ', new_user_path, class: 'underline flex-auto mr-3' %>/<%= link_to 'パスワードお忘れの方', new_password_reset_path, class: 'underline flex-auto ml-3' %>
    </div>
</div>